* {
color: green;
font-family: verdana;
font-size: 10px;
}
.td {
border-top: solid black 1px;
border-bottom: solid black 1px;
border-left: solid black 1px;
border-right: solid black 1px;
}
input, textarea, select {
color: green;
font-size: 10 px;
background: black;
border: solid gray 1px;
}
a {
text-decoration: none;
text-transform: none;
color: green;
font-size: 10px;
}
a:hover {
text-decoration: none;
text-transform: none;
color: red;
font-size: 10px;
}
body {
background: black;
}
body, iframe, select, textarea {
scrollbar-face-color: black;
scrollbar-highlight-color: gray; 
scrollbar-shadow-color: gray; 
scrollbar-3dlight-color: black; 
scrollbar-arrow-color: gray;
scrollbar-track-color: black; 
scrollbar-darkshadow-color: black; 
scrollbar-base-color: black;
}
label.toggle { 
  cursor: pointer; 
  color: green; 
}
input.toggle { 
  display: none; 
}
input.toggle:checked+div { 
  display: none; 
}
input.toggle:checked+span { 
  display: none; 
}
div.vial {
    border-style: outset;
    border-width: 2px;
    border-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 6px;
    width: 95%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div.subvial {
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 6px;
}
