* {
	color: #DEB887;
	font-family: verdana;
	font-size: 10px;
}
.td {
border-top: solid black 1px;
border-bottom: solid black 1px;
border-left: solid black 1px;
border-right: solid black 1px;
}
input, textarea, select {
	color: Gray;
	font-size: 10 px;
	background: black;
	border: solid gray 1px;
}
a {
	text-decoration: none;
	text-transform: none;
	color: #FAEBD7;
	font-size: 10px;
}
a:hover {
text-decoration: none;
text-transform: none;
color: red;
font-size: 10px;
}
body {
background: #000000;
}
body, iframe, select, textarea {
scrollbar-face-color: black;
scrollbar-highlight-color: silver; 
scrollbar-shadow-color: silver; 
scrollbar-3dlight-color: black; 
scrollbar-arrow-color: silver;
scrollbar-track-color: black; 
scrollbar-darkshadow-color: black; 
scrollbar-base-color: black;
}
label.toggle {
    color: #FAEBD7;
    cursor: pointer; 
}
label.toggle:hover { 
  cursor: pointer; 
  color: red; 
}
input.toggle { 
  display: none; 
}
input.toggle:checked+div { 
  display: none; 
}
input.toggle:checked+span { 
  display: none; 
}
div.vial {
    border-style: outset;
    border-width: 2px;
    border-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 6px;
    width: 95%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div.subvial {
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 6px;
}
