input, textarea, select {
  background: transparent;
  color: black;
  border: solid black 1px;
  font: 1em/1.25 "Lucida Sans Unicode","Lucida Grande",Verdana,sans-serif;
  font-style: normal;
}

input {
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input[type=submit], input[type=button], select {
    background-image: url('images/button.jpg');
    color: gold;
    border-color: gold;
}

a:link, a:active, a:visited {
  color: black;
  text-decoration: none;
  font-style: oblique;
}
a:hover {
  text-decoration: underline;
  font-style: oblique;
}

body {
  font: 0.75em/1.25 "Lucida Sans Unicode","Lucida Grande",Verdana,sans-serif;
  background: #000000;
  overflow: hidden;
  color: black;
}

#scroller {
  position:absolute;
  width:100%;
  height:80%; 
  top: 150px; 
  left:0; 
  overflow:auto; 
  z-index:2;
}

#ownlinks {
  border-style: none;
  background: transparent;
  margin-left: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  overflow: auto;
  color: black;
}

.dark {
  color : black;
  width: 100%
}

img.bkgd {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

input:hover, textarea:hover {
  background: goldenrod;
}

input:hover[type=text], textarea:hover {
    cursor: url('images/pen.png'), auto;
}

input:hover[type=submit], input:hover[type=button], select:hover {
    color: white;
    background: #481c0a;
    background-image: url('images/button.jpg');
    cursor: pointer;
}

input:focus, textarea:focus {
  background: goldenrod;
}

div.error {
  border-style: solid;
  border-color: darkred;
  border-width: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
div.success {
  border-style: solid;
  border-color: green;
  border-width: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
div.info {
  border-style: solid;
  border-color: gold;
  border-width: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
label.toggle { 
  cursor: pointer; 
  font-style: oblique;
}
label.toggle:hover { 
  cursor: pointer; 
  text-decoration: underline; 
}
input.toggle { 
  display: none; 
}
input.toggle:checked+div { 
  display: none; 
}
input.toggle:checked+span { 
  display: none; 
}

div.vial {
    border-style: outset;
    border-width: 3px;
    border-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 6px;
    width: 95%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

div.subvial {
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 6px;
}

img.avatar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
